body {
	background-color: #0CCEE8;
}
input:not([type=submit]) {
	width:270px;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 0;
}
form {
	width:300px;
	margin:50px auto;
}
label {
	font-weight: 900;
	margin-top: 16px;
}
.centered {
	text-align: center;
}
#tryagain {
	width:500px;
	margin:0 auto;
	padding:0.5em 1em;
	font-weight: 900;
	background-color: gray;
	border:1px solid red;
}
#success {
	width:1000px;
	margin:50px auto;
	text-align: center;
	color:#111;
}
#success h3 {
	color:#61B329;
}
#success img {
	display:block;
	margin:25px auto;
}
.submission {
	margin-top: 2em;
}
#history_btn {
	position: relative;
	left: 50%;
	margin-left: -49px;
	top:-1em;
}
img.tabled {
	display:block;
	height:100px;
	width:100px;
}
.show_this, .delete_this {
	display:inline-block;
	margin:1em;
}
span {
	margin-left: 1em;
}
.sticky {
	position:fixed;
	top:0;
	width:100%;
	background-color: #0CCEE8;
	border-bottom: 2px solid #333;
}

/* new rules for new interface */
.version1 body {
	background-color: #eee;
}
.version1 header {
	background-color: #333;
	margin-bottom: 35px;
}
.version1 header .navbar {
	width:1000px;
	margin:auto;
}
.version1 header h2 {
	color: #eee;
}
.version1 .main {
	width: 1000px;
	margin:auto;
}
.version1 .inline {
	display: inline;
}
.version1 .inner {
	background-color: #444;
	padding:10px 0;
}
.version1 .frame, {
	width:300px;
	border:2px solid #333;
	float:left;
	margin-right: 20px;
}
.version1 #loading {
	display:none;
	margin-left:-65px;
	width:130px;
	background-color: #118;
	color:white;
	padding:2px 5px;
	position:fixed;
	top:42px;
	left:50%;
}
.version1 #loading p {
	margin:0;
}